<!-- component -->
<div class='relative flex items-center justify-center from-gray-100 via-rose-100 to-gay-500 bg-gradient-to-br'>
    <div class="hidden md:block w-[150px] h-[150px] fixed bottom-[40%] right-[0]">
        <div class="relative w-full h-screen">
            <div class="absolute-center">
                <svg class="circle-svg" viewBox="0 0 500 500">
                    <defs>
                        <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                            id="textcircle_top">
                            <animateTransform attributeName="transform" begin="0s" dur="20s" type="rotate" from="0 250 250"
                                to="360 250 250" repeatCount="indefinite" />
                        </path>
                    </defs>
                    <text class="circle-text" dy="70" textLength="1220">
                        <textPath xlink:href="#textcircle_top">
                            Elevating Blogs with Seamless Creativity.
                        </textPath>
                    </text>
                </svg>
        
            </div>
            <div class="absolute-center">
                <div class="showreels-div">
                    <video class="showreels-video w-[100px] h-[100px]" loop autoplay muted>
                        <source src='https://github.com/ahampriyanshu/gfg/raw/main/media/showreel.mp4' type="video/mp4" />
                        <p>Please Update Your Browser</p>
                    </video>
                    <img
                    alt="play"
                    class="showreels-btn"
                    src='https://github.com/ahampriyanshu/gfg/raw/main/media/play.png'
                    />
                </div>
                </div>
            </div>
        </div>
    </div>
</div>