<!-- component -->
<section>
    <div class="bg-gray-700 text-white py-8">
        <div class="container mx-auto flex flex-col items-start md:flex-row my-12 md:my-24">
            <div class="flex flex-col w-full sticky md:top-36 lg:w-1/3 mt-2 md:mt-12 px-8">
                <p class="ml-2 text-red-400 uppercase tracking-loose">Privacy Policy</p>
                <p class="text-3xl md:text-4xl leading-normal md:leading-relaxed mb-2">Global Vibes Blog</p>
                <p class="text-sm md:text-base text-gray-50 mb-4">
                    <b>Globalvibes</b> is committed to safeguarding your privacy. This privacy policy outlines the types of personal information received and collected by Globalvibes and how it is used.
                </p>
            </div>
            <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
                <div class="container mx-auto w-full h-full">
                    
                    <div class="relative wrap overflow-hidden p-10 h-full">
                        <div class="border-2-2 border-red-555 absolute h-full border"
                            style="right: 50%; border: 2px solid #FE0000; border-radius: 1%;"></div>
                        <div class="border-2-2 border-red-555 absolute h-full border"
                            style="left: 50%; border: 2px solid #FF407D; border-radius: 1%;"></div>
  
                        <!-- Terms and Services Content -->
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl">1. Introduction
                                </h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    We at Globalvibes provide insightful content related to health, wellbeing, and technology. We understand the importance of privacy and are dedicated to protecting the rights of our visitors and users.
                                </p>
                            </div>
                        </div>
  
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-left">
                                <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl">2. No Nudity Policy
                                </h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    Globalvibes maintains a strict no-nudity policy. Our content is focused on health, wellbeing, and technology, and we ensure that all advertisements and site content adhere to this standard.
                                </p>
                            </div>
                        </div>
  
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                          <div class="order-1 w-5/12"></div>
                          <div class="order-1 w-5/12 px-1 py-4 text-right">
                              <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl">3. Types of Ads
                            </h4>
                              <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                We display ads related to health and technology. These ads are served to support our site and provide relevant content to our users.
                              </p>
                          </div>
                        </div>
                      
  
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4">
                                <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl text-left">4. Cookies</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    Globalvibes may use cookies to enhance the user experience. Cookies help us track and target the interests of our users to enhance the experience on our site. Your web browser places cookies on your hard drive for record-keeping purposes and sometimes to track information about you. You may choose to set your web browser to refuse cookies or to alert you when cookies are being sent.
                                </p>
                            </div>
                        </div>
  
                        
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                          <div class="order-1 w-5/12"></div>
                          <div class="order-1 w-5/12 px-1 py-4 text-right">
                              <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl">5. Data Collection and Sharing</h4>
                              <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                
                                Globalvibes does not collect any personal data from its users. We respect your privacy and ensure that no user data is shared with third parties.                                
                              </p>
                          </div>
                        </div>
                      
                      
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4">
                                <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl text-left">6. Consent</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    By using our website, you hereby consent to our privacy policy and agree to its terms.
                                </p>
                            </div>
                        </div>
  
                        
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                          <div class="order-1 w-5/12"></div>
                          <div class="order-1 w-5/12 px-1 py-4 text-right">
                              <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl">5. Changes to This Policy</h4>
                              <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                
                                Globalvibes reserves the right to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect.
                              </p>
                          </div>
                        </div>
                      
                      
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4">
                                <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl text-left">6. Contact Us
                                </h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us.
                                </p>
                            </div>
                        </div>
  
                        <!-- Add more sections as needed -->
  
                        <!-- End of Terms and Services Content -->
  
                    </div>
                    
                    <img class="mx-auto -mt-36 md:-mt-36"
                        src="https://user-images.githubusercontent.com/54521023/116968861-ef21a000-acd2-11eb-95ac-a34b5b490265.png" />
                    
                </div>
            </div>
        </div>
    </div>
  </section>
  