<!-- component -->
<section>
  <div class="bg-gray-700 text-white py-8">
      <div class="container mx-auto flex flex-col items-start md:flex-row my-12 md:my-24">
          <div class="flex flex-col w-full sticky md:top-36 lg:w-1/3 mt-2 md:mt-12 px-8">
              <p class="ml-2 text-red-400 uppercase tracking-loose">Terms and Services</p>
              <p class="text-3xl md:text-4xl leading-normal md:leading-relaxed mb-2">Global Vibes Blog Terms of Service</p>
              <p class="text-sm md:text-base text-gray-50 mb-4">
                  Please read the following terms carefully before using Global Vibes Blog.
              </p>
              {% comment %} <a href="{% url 'home' %}"
                  class="bg-transparent mr-auto hover:bg-red-800 text-gray-300 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-red-400 hover:border-transparent">
                  Back Home</a> {% endcomment %}
          </div>
          <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
              <div class="container mx-auto w-full h-full">
                  
                  <div class="relative wrap overflow-hidden p-10 h-full">
                      <div class="border-2-2 border-red-555 absolute h-full border"
                          style="right: 50%; border: 2px solid #FE0000; border-radius: 1%;"></div>
                      <div class="border-2-2 border-red-555 absolute h-full border"
                          style="left: 50%; border: 2px solid #FF407D; border-radius: 1%;"></div>

                      <!-- Terms and Services Content -->
                      <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                          <div class="order-1 w-5/12"></div>
                          <div class="order-1 w-5/12 px-1 py-4 text-right">
                              <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl">1. Acceptance of Terms</h4>
                              <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                  By using Global Vibes Blog, you agree to comply with and be bound by these Terms and
                                  Services. If you do not agree to these terms, please refrain from using the
                                  platform.
                              </p>
                          </div>
                      </div>

                      <div class="mb-8 flex justify-between items-center w-full right-timeline">
                          <div class="order-1 w-5/12"></div>
                          <div class="order-1 w-5/12 px-1 py-4 text-left">
                              <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl">2. User Registration</h4>
                              <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                  Users are required to register and create an account on Global Vibes Blog. Ensure
                                  accurate and complete information during the registration process.
                              </p>
                          </div>
                      </div>

                      <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                        <div class="order-1 w-5/12"></div>
                        <div class="order-1 w-5/12 px-1 py-4 text-right">
                            <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl">3. Comment Submission</h4>
                            <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                Users play a vital role in shaping the discourse on Global Vibes Blog through their comments. We value
                                constructive engagement and encourage users to submit comments that adhere to our community guidelines
                                and standards. Your thoughtful contributions contribute to a vibrant and respectful online community.
                            </p>
                        </div>
                      </div>
                    

                      <div class="mb-8 flex justify-between items-center w-full right-timeline">
                          <div class="order-1 w-5/12"></div>
                          <div class="order-1 w-5/12 px-1 py-4">
                              <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl text-left">4. Privacy Policy</h4>
                              <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                  Global Vibes Blog respects user privacy. Please review our Privacy Policy for
                                  information on how we collect, use, and protect your personal data.
                              </p>
                          </div>
                      </div>

                      
                      <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                        <div class="order-1 w-5/12"></div>
                        <div class="order-1 w-5/12 px-1 py-4 text-right">
                            <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl">5. Content Blogging</h4>
                            <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                Clients entrust us with the responsibility for any content they wish to showcase on Global Vibes Blog.
                                Our commitment is to create engaging and impactful blog posts, aligning with your vision and message.
                                Rest assured that your content will be treated with the utmost care and professionalism.
                            </p>
                        </div>
                      </div>
                    
                    
                      <div class="mb-8 flex justify-between items-center w-full right-timeline">
                          <div class="order-1 w-5/12"></div>
                          <div class="order-1 w-5/12 px-1 py-4">
                              <h4 class="mb-3 text-red-400 font-bold text-lg md:text-2xl text-left">6. Termination</h4>
                              <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                  Global Vibes Blog reserves the right to terminate or suspend user accounts violating
                                  these Terms and Services.
                              </p>
                          </div>
                      </div>

                      <!-- Add more sections as needed -->

                      <!-- End of Terms and Services Content -->

                  </div>
                  
                  <img class="mx-auto -mt-36 md:-mt-36"
                      src="https://user-images.githubusercontent.com/54521023/116968861-ef21a000-acd2-11eb-95ac-a34b5b490265.png" />
                  
              </div>
          </div>
      </div>
  </div>
</section>
